body{
    background: linear-gradient(rgb(0, 255, 242), rgb(52, 90, 240));
    background-size: 100vw 100vh;
}
#pong{
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}